{% extends 'base.html.twig' %}

{% block titre %}
	{{app.user.prenom}}
	{{app.user.nom}}
	| KINSHOP
{% endblock %}

{% block corps %}
	{% if notification=="yes" %}
		<div class="alert alert-success">Votre mot de passe a été modifié</div>
	{% endif %}
	{% if notification=="no" %}
		<div class="alert alert-danger">Le mot de passe est incorrect</div>
	{% endif %}
	<h1>Edition de mot de passe</h1><hr>
	<a href="{{ path('account') }}">
		<h6>&lArr; Retour</h6>
	</a>
	<p>
		{{form(form)}}
		</p>
	</p>
	<p>
		<ul>
			<a href="{{ path('account_password') }}">
				<li>Modifier mon mot de passe</li>
			</a>
			<a href="">
				<li>Ajouter mes adresses</li>
			</a>
			<a href="">
				<li>Mes commandes</li>
			</a>
		</ul>
	</p>
{% endblock %}
