{% extends 'base.html.twig' %}

{% block titre %}
	{{product.name}}
	| KINSHOP
{% endblock %}

{% block corps %}

	<div class="row">

		<div class="col-md-5">
			<img src="/uploads/{{product.illustration}}" class="img-fluid">
		</div>
		<div class="col-md-7">


			<h4>{{product.name}}</h4>
			<h6>{{product.subtitle}}</h6>
			<span>{{(product.price/100)|number_format(2,',','.')}}
				€
			</span>
			<hr>
			<span>{{product.description}}</span>
			<hr>
			<a href="" class="btn btn-warning">Ajouter au panier</a>
		</div>


	</div>
{% endblock %}
